# Rename this file to .env before running docker-compose
# Backend service settings
MONGO_URL=mongodb://admin:password123@mongodb:27017/avalon_game?authSource=admin
DB_NAME=avalon_game

# Frontend service settings
REACT_APP_BACKEND_URL=http://localhost:8001

# Cloudflared tunnel token (optional)
TUNNEL_TOKEN=

